# 4주차 실습

LA_Pre-trained-model

Daily Activity DataSet

RA를 학습한 모델의 전이학습을 통해 LA를 예측하는 모델을 만드는 실습

In [2]:
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit
from scipy.stats import skew
import os
import csv
import pandas as pd
from tqdm import tqdm

### Data set

In [3]:
df = pd.read_csv("C:/Project/DeepLearning/Data/DSA_features.csv")
df

,T_xacc_mean,T_xacc_max,T_xacc_min,T_xacc_var,T_xacc_std,T_xacc_skew,T_yacc_mean,T_yacc_max,T_yacc_min,T_yacc_var,...,LL_ymag_std,LL_ymag_skew,LL_zmag_mean,LL_zmag_max,LL_zmag_min,LL_zmag_var,LL_zmag_std,LL_zmag_skew,activity,people
0,7.975714,8.1605,7.6823,0.014395,0.119981,-0.023319,1.083150,1.1832,0.99744,0.002208,...,0.000792,0.177075,-0.057119,-0.054963,-0.059241,6.778722e-07,0.000823,0.036729,sitting,p1
1,7.978250,8.1763,7.8472,0.007551,0.086896,0.552416,1.140865,1.2129,1.05810,0.000784,...,0.000860,-0.286918,-0.057268,-0.054945,-0.059589,7.032302e-07,0.000839,0.347471,sitting,p1
2,7.970894,8.0860,7.8470,0.003092,0.055603,0.100538,1.140962,1.2128,1.07960,0.000508,...,0.000762,-0.134430,-0.057068,-0.054711,-0.059065,6.268222e-07,0.000792,0.045579,sitting,p1
3,7.938412,8.1083,7.6901,0.003763,0.061343,-0.231914,1.165260,1.3170,1.07870,0.002173,...,0.000735,0.021485,-0.056422,-0.053670,-0.058310,8.011245e-07,0.000895,0.240690,sitting,p1
4,7.908930,8.1305,7.8322,0.001741,0.041731,2.042285,1.187504,1.2574,1.09450,0.000662,...,0.000824,-0.148229,-0.055801,-0.053313,-0.057815,6.853423e-07,0.000828,0.258429,sitting,p1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9115,8.280854,34.1980,-2.9038,28.080803,5.299132,1.350075,-1.491537,11.2240,-11.65100,14.670334,...,0.200829,-0.040701,0.297666,0.708480,-0.117430,4.135451e-02,0.203358,-0.310022,basketBall,p8
9116,9.591118,51.6970,-3.4129,35.722025,5.976791,2.981144,0.086304,6.9951,-11.76400,5.329897,...,0.148745,-0.266377,0.224716,0.554670,-0.250950,3.355704e-02,0.183186,-0.736410,basketBall,p8
9117,9.599113,27.9300,-1.0765,48.850886,6.989341,0.449237,-0.728367,3.7801,-8.36910,5.683022,...,0.310748,-0.009505,-0.237786,0.088854,-0.477260,2.026107e-02,0.142341,0.668438,basketBall,p8
9118,9.692482,72.7820,-2.6734,59.378336,7.705734,4.491114,-0.582724,6.1216,-8.85710,4.162963,...,0.156493,0.050624,0.533023,0.677800,0.055941,1.356379e-02,0.116464,-1.482489,basketBall,p8
9119,9.380641,45.0090,-3.5938,40.459334,6.360765,1.688626,-0.266325,5.8603,-6.91970,4.017098,...,0.229154,-0.342228,0.491919,0.707920,0.251280,9.358254e-03,0.096738,-0.223302,basketBall,p8

In [22]:
df_RA = df.filter(regex='RA_') 
df_LA = df.filter(regex='LA_')

In [23]:
df_RA.insert(3, 'activity', df['activity'])
df_LA.insert(3, 'activity', df['activity'])

In [24]:
from sklearn.preprocessing import LabelEncoder

# LabelEncoder 객체 생성
label_encoder = LabelEncoder()

# 'label' 컬럼을 숫자로 변환
df_RA['activity'] = label_encoder.fit_transform(df_RA['activity'])

# 'label' 컬럼을 숫자로 변환
df_LA['activity'] = label_encoder.fit_transform(df_LA['activity'])

C:\Users\최재인\AppData\Local\Temp\ipykernel_33356\4104899393.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_RA['activity'] = label_encoder.fit_transform(df_RA['activity'])
C:\Users\최재인\AppData\Local\Temp\ipykernel_33356\4104899393.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LA['activity'] = label_encoder.fit_transform(df_LA['activity'])

In [7]:
df_RA['activity'].value_counts()

activity
12    480
18    480
6     480
10    480
4     480
3     480
2     480
15    480
11    480
17    480
13    480
16    480
9     480
14    480
5     480
0     480
8     480
7     480
1     480
Name: count, dtype: int64

In [25]:
df_LA['activity'].value_counts()

activity
12    480
18    480
6     480
10    480
4     480
3     480
2     480
15    480
11    480
17    480
13    480
16    480
9     480
14    480
5     480
0     480
8     480
7     480
1     480
Name: count, dtype: int64

In [28]:
df_RA_Y=df_RA['activity']
df_RA_Y.head()

0    12
1    12
2    12
3    12
4    12
Name: activity, dtype: int32

In [9]:
df_RA_X=df_RA.drop('activity',axis=1)
df_RA_X.head()

,RA_xacc_mean,RA_xacc_max,RA_xacc_min,RA_xacc_var,RA_xacc_std,RA_xacc_skew,RA_yacc_mean,RA_yacc_max,RA_yacc_min,RA_yacc_var,...,RA_ymag_min,RA_ymag_var,RA_ymag_std,RA_ymag_skew,RA_zmag_mean,RA_zmag_max,RA_zmag_min,RA_zmag_var,RA_zmag_std,RA_zmag_skew
0,0.679134,0.75930,0.58542,0.001546,0.039324,-0.415694,5.713088,5.8483,5.5956,0.003779,...,-0.57428,0.000012,0.003401,-0.052190,-0.211136,-0.18401,-0.24523,0.000044,0.006638,-1.153902
1,0.644964,0.73158,0.53064,0.001333,0.036508,0.410625,5.795154,5.9546,5.6687,0.001132,...,-0.57398,0.000005,0.002216,0.222740,-0.206431,-0.18054,-0.23624,0.000032,0.005660,0.458427
2,0.608212,0.67737,0.53546,0.000637,0.025244,0.153302,5.833086,5.8918,5.7656,0.000488,...,-0.57563,0.000004,0.001954,-0.221765,-0.205648,-0.18342,-0.22933,0.000024,0.004868,-0.984915
3,0.591138,0.71177,0.51524,0.001349,0.036731,0.525019,5.863846,5.9645,5.7556,0.001423,...,-0.57858,0.000007,0.002688,0.075011,-0.203739,-0.17999,-0.22958,0.000026,0.005099,0.185634
4,0.558168,0.67190,0.50535,0.000626,0.025020,1.076782,5.884745,5.9401,5.8384,0.000471,...,-0.57996,0.000005,0.002278,-0.219440,-0.203684,-0.17904,-0.22924,0.000027,0.005175,-0.820907

In [10]:
from sklearn.model_selection import train_test_split

X_train_RA, X_test_RA, y_train_RA, y_test_RA = train_test_split(df_RA_X, 
                                                    df_RA_Y,
                                                    test_size = 0.25, 
                                                    random_state = 21)

In [26]:
df_LA_Y = df_LA['activity']
df_LA_Y.head()

0    12
1    12
2    12
3    12
4    12
Name: activity, dtype: int32

In [29]:
df_LA_X=df_LA.drop('activity',axis=1)
df_LA_X.head()

,LA_xacc_mean,LA_xacc_max,LA_xacc_min,LA_xacc_var,LA_xacc_std,LA_xacc_skew,LA_yacc_mean,LA_yacc_max,LA_yacc_min,LA_yacc_var,...,LA_ymag_min,LA_ymag_var,LA_ymag_std,LA_ymag_skew,LA_zmag_mean,LA_zmag_max,LA_zmag_min,LA_zmag_var,LA_zmag_std,LA_zmag_skew
0,3.403317,3.4875,3.2682,0.001583,0.039790,-0.744647,-8.375713,-8.2927,-8.4821,0.001178,...,0.33748,0.000003,0.001810,-0.215069,0.072273,0.076374,0.067940,0.000004,0.001910,-0.166015
1,3.427302,3.6630,3.3168,0.004305,0.065614,1.000107,-8.397591,-8.3118,-8.5017,0.001098,...,0.33000,0.000017,0.004159,-0.611251,0.074557,0.085184,0.068169,0.000022,0.004643,0.717286
2,3.400870,3.5168,3.3315,0.001007,0.031732,0.978319,-8.439138,-8.3599,-8.5204,0.000684,...,0.33307,0.000002,0.001316,-0.506255,0.075852,0.083227,0.072507,0.000004,0.002106,1.043919
3,3.391002,3.5311,3.2608,0.001792,0.042328,0.117935,-8.441421,-8.3207,-8.5446,0.001862,...,0.33431,0.000002,0.001395,0.155251,0.074878,0.080059,0.069942,0.000006,0.002414,0.242524
4,3.359974,3.4434,3.3069,0.000633,0.025160,1.051627,-8.454854,-8.3202,-8.5561,0.001061,...,0.33631,0.000001,0.001005,-0.299017,0.073398,0.077461,0.070175,0.000002,0.001482,0.606258

In [30]:
from sklearn.model_selection import train_test_split

X_train_LA, X_test_LA, y_train_LA, y_test_LA = train_test_split(df_LA_X, 
                                                    df_LA_Y,
                                                    test_size = 0.25, 
                                                    random_state = 21)

### RA, LA train test split

In [11]:
X_train_RA.shape, X_test_RA.shape, y_train_RA.shape, y_test_RA.shape

((6840, 54), (2280, 54), (6840,), (2280,))

In [31]:
X_train_LA.shape, X_test_LA.shape, y_train_LA.shape, y_test_LA.shape

((6840, 54), (2280, 54), (6840,), (2280,))

### RA, LA train test split sequences

In [12]:
from collections import Counter
import numpy as np

def split_sequences(sequences, n_steps):
    X, y = list(), list()  # 빈 리스트를 생성하여 시퀀스 데이터와 레이블을 담을 공간을 만듦
    for i in range(len(sequences)):  # 전체 시퀀스 데이터를 순회
        # find the end of this pattern
        end_ix = i + n_steps  # 현재 인덱스(i)에서 n_steps만큼 떨어진 시퀀스의 끝을 계산
        # check if we are beyond the dataset
        if end_ix > len(sequences):  # 시퀀스 끝이 데이터의 범위를 넘어서는지 확인
            break  # 범위를 넘으면 루프 종료
        # gather input (X) and output parts (y)
        # sequences[i:end_ix, :-1] => sequences[i행~end_ix행, 마지막 열을 제외한 모든 열]
        seq_x = sequences[i:end_ix, :-1]  # 입력 데이터 (특징 데이터) 
        seq_y_values = sequences[i:end_ix, -1]  # 시퀀스 동안의 출력 데이터 (레이블들) 마지막 열이 label 값
        
        # 가장 빈번하게 나온 레이블 찾기
        most_common_label = Counter(seq_y_values).most_common(1)[0][0]
        
        X.append(seq_x)  # 입력 데이터 추가
        y.append(most_common_label)  # 가장 많이 나온 레이블 추가
    
    return np.array(X), np.array(y)  # 리스트를 numpy 배열로 변환하여 반환

In [13]:
# Merge train and test X/y data to apply sequence transformation function
y_train_array_RA = np.array(y_train_RA)
train_set_RA = np.c_[X_train_RA, y_train_array_RA]

y_test_array_RA = np.array(y_test_RA)
test_set_RA = np.c_[X_test_RA, y_test_array_RA]

In [14]:
n_step = 3 

X_train_seq_RA, y_train_seq_RA = split_sequences(train_set_RA, n_step)
print(X_train_seq_RA.shape, y_train_seq_RA.shape)

X_test_seq_RA, y_test_seq_RA = split_sequences(test_set_RA, n_step)
print(X_test_seq_RA.shape, y_test_seq_RA.shape)

(6838, 3, 54) (6838,)
(2278, 3, 54) (2278,)

In [32]:
# Merge train and test X/y data to apply sequence transformation function
y_train_array_LA = np.array(y_train_LA)
train_set_LA = np.c_[X_train_LA, y_train_array_LA]

y_test_array_LA = np.array(y_test_LA)
test_set_LA = np.c_[X_test_LA, y_test_array_LA]

In [33]:
n_step = 3 

X_train_seq_LA, y_train_seq_LA = split_sequences(train_set_LA, n_step)
print(X_train_seq_LA.shape, y_train_seq_LA.shape)

X_test_seq_LA, y_test_seq_LA = split_sequences(test_set_LA, n_step)
print(X_test_seq_LA.shape, y_test_seq_LA.shape)

(6838, 3, 54) (6838,)
(2278, 3, 54) (2278,)

In [15]:
from keras.utils import to_categorical

# Convert output variables to categorical for CNN
y_train_seq_RA = to_categorical(y_train_seq_RA)
print(y_train_seq_RA.shape)

y_test_seq_RA = to_categorical(y_test_seq_RA)
print(y_test_seq_RA.shape)

WARNING:tensorflow:From C:\Anaconda\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

(6838, 19)
(2278, 19)

In [34]:
# Convert output variables to categorical for CNN
y_train_seq_LA = to_categorical(y_train_seq_LA)
print(y_train_seq_LA.shape)

y_test_seq_LA = to_categorical(y_test_seq_LA)
print(y_test_seq_LA.shape)

(6838, 19)
(2278, 19)

In [16]:
# Produce variables for CNN input/output shape
n_timesteps, n_features, n_outputs = X_train_seq_RA.shape[1], X_train_seq_RA.shape[2], y_train_seq_RA.shape[1]
print(n_timesteps, n_features, n_outputs)

3 54 19

---

### Transfer Learning

In [81]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# cnn model vary kernel size
from numpy import mean
from numpy import std
from numpy import dstack
from pandas import read_csv
from matplotlib import pyplot
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dropout
from keras.utils import to_categorical

import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten, Reshape, LSTM, Conv1D, MaxPooling1D
from tensorflow.keras.layers import TimeDistributed, Conv1D, MaxPooling1D

In [82]:
model_file='C:/Project/DeepLearning/Data/RA_Model.h5'

In [83]:
# Base 모델을 로드 (RA_Model.h5)
from tensorflow.keras.models import load_model

base_model = load_model(model_file)

WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.

In [84]:
base_model.compile(optimizer='adam', metrics=['accuracy'], loss='categorical_crossentropy')
base_model.evaluate(X_train_seq_RA, y_train_seq_RA)

214/214 [==============================] - 4s 6ms/step - loss: 0.1211 - accuracy: 0.9756

[0.12114164978265762, 0.9755776524543762]

In [85]:
base_model.evaluate(X_test_seq_RA, y_test_seq_RA)

72/72 [==============================] - 0s 6ms/step - loss: 0.6899 - accuracy: 0.8551

[0.6899011135101318, 0.8551360964775085]

---

base model(RA model)에 LA 데이터를 입력하면 예측 성능이 떨어진다.

In [86]:
base_model.evaluate(X_test_seq_LA, y_test_seq_LA)

72/72 [==============================] - 0s 6ms/step - loss: 7.7154 - accuracy: 0.2388

[7.715399265289307, 0.23880596458911896]

In [87]:
print("Number of layers in the base model: ", len(base_model.layers))

Number of layers in the base model:  3

#### RA -> LA Model

In [88]:
# 기존 모델의 층을 동결 (학습되지 않도록 설정)
base_model.trainable = False

In [89]:
from tensorflow.keras.applications import VGG16
from tensorflow.keras import layers, models

def remove_last_layers(model, num_layers_to_remove):
    # 모델의 레이어를 하나씩 슬라이스해서 앞의 레이어만 가져옴
    model_layers = model.layers[:-num_layers_to_remove]  # 마지막 레이어부터 지정된 갯수만큼 제외
    new_model = models.Sequential(model_layers)  # 새로운 모델에 해당 레이어들만 추가
    return new_model


# LA모델의 출력층부터 1개의 레이어를 삭제 -> 출력층을 RA에 맞게 변경한다 (전이학습)
new_LAmodel_1 = remove_last_layers(base_model, 1)

# 새로운 덴스 레이어 + 출력층 추가
# 새로운 덴스 레이어를 추가하지 않으면 전이학습 시 RA모델의 출력층을 제외한 부분을 온전히 사용하는 모델이 된다?
new_LAmodel_1.add(layers.Dense(256, activation='relu')) 
new_LAmodel_1.add(layers.Dense(n_outputs, activation='softmax'))  # 예: 10개의 클래스
new_LAmodel_1.compile(optimizer='adam', metrics=['accuracy'], loss='categorical_crossentropy')

# 모델 요약 출력
new_LAmodel_1.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 128)               93696

 dense (Dense)               (None, 128)               16512

 dense_17 (Dense)            (None, 256)               33024

 dense_18 (Dense)            (None, 19)                4883

=================================================================
Total params: 148115 (578.57 KB)
Trainable params: 37907 (148.07 KB)
Non-trainable params: 110208 (430.50 KB)
_________________________________________________________________

In [90]:
import pandas as pd
display_layers = [(layer, layer.name, layer.trainable) for layer in new_LAmodel_1.layers]
pd.DataFrame(display_layers, columns=['Layer Type', 'Layer Name', 'Layer Trainable'])

,Layer Type,Layer Name,Layer Trainable
0,<keras.src.layers.rnn.lstm.LSTM object at 0x00...,lstm,False
1,<keras.src.layers.core.dense.Dense object at 0...,dense,False
2,<keras.src.layers.core.dense.Dense object at 0...,dense_17,True
3,<keras.src.layers.core.dense.Dense object at 0...,dense_18,True

In [91]:
history3 = new_LAmodel_1.fit(X_train_seq_LA, y_train_seq_LA, epochs = 20, batch_size = 32, validation_split = 0.1, shuffle = True)

new_LAmodel_1.summary()

Epoch 1/20
193/193 [==============================] - 11s 21ms/step - loss: 1.6428 - accuracy: 0.4867 - val_loss: 1.3342 - val_accuracy: 0.5716
Epoch 2/20
193/193 [==============================] - 3s 16ms/step - loss: 1.2297 - accuracy: 0.6055 - val_loss: 1.2823 - val_accuracy: 0.5760
Epoch 3/20
193/193 [==============================] - 3s 16ms/step - loss: 1.1307 - accuracy: 0.6339 - val_loss: 1.2054 - val_accuracy: 0.6023
Epoch 4/20
193/193 [==============================] - 3s 16ms/step - loss: 1.0710 - accuracy: 0.6523 - val_loss: 1.1571 - val_accuracy: 0.6360
Epoch 5/20
193/193 [==============================] - 3s 17ms/step - loss: 1.0214 - accuracy: 0.6747 - val_loss: 1.1750 - val_accuracy: 0.6243
Epoch 6/20
193/193 [==============================] - 2s 12ms/step - loss: 0.9873 - accuracy: 0.6784 - val_loss: 1.1523 - val_accuracy: 0.6243
Epoch 7/20
193/193 [==============================] - 3s 14ms/step - loss: 0.9430 - accuracy: 0.6991 - val_loss: 1.1263 - val_accuracy: 0.6447
Epoch 8/20
193/193 [==============================] - 3s 15ms/step - loss: 0.9169 - accuracy: 0.7020 - val_loss: 1.1078 - val_accuracy: 0.6535
Epoch 9/20
193/193 [==============================] - 3s 15ms/step - loss: 0.8807 - accuracy: 0.7127 - val_loss: 1.1082 - val_accuracy: 0.6272
Epoch 10/20
193/193 [==============================] - 3s 14ms/step - loss: 0.8580 - accuracy: 0.7229 - val_loss: 1.0961 - val_accuracy: 0.6447
Epoch 11/20
193/193 [==============================] - 3s 16ms/step - loss: 0.8350 - accuracy: 0.7236 - val_loss: 1.1179 - val_accuracy: 0.6594
Epoch 12/20
193/193 [==============================] - 3s 16ms/step - loss: 0.8112 - accuracy: 0.7426 - val_loss: 1.0770 - val_accuracy: 0.6637
Epoch 13/20
193/193 [==============================] - 3s 16ms/step - loss: 0.7809 - accuracy: 0.7485 - val_loss: 1.1029 - val_accuracy: 0.6477
Epoch 14/20
193/193 [==============================] - 3s 16ms/step - loss: 0.7629 - accuracy: 0.7538 - val_loss: 1.0970 - val_accuracy: 0.6681
Epoch 15/20
193/193 [==============================] - 3s 15ms/step - loss: 0.7429 - accuracy: 0.7608 - val_loss: 1.1223 - val_accuracy: 0.6535
Epoch 16/20
193/193 [==============================] - 3s 14ms/step - loss: 0.7230 - accuracy: 0.7691 - val_loss: 1.1342 - val_accuracy: 0.6418
Epoch 17/20
193/193 [==============================] - 1s 8ms/step - loss: 0.7061 - accuracy: 0.7709 - val_loss: 1.0794 - val_accuracy: 0.6857
Epoch 18/20
193/193 [==============================] - 1s 8ms/step - loss: 0.6860 - accuracy: 0.7746 - val_loss: 1.1042 - val_accuracy: 0.6579
Epoch 19/20
193/193 [==============================] - 2s 9ms/step - loss: 0.6720 - accuracy: 0.7790 - val_loss: 1.0839 - val_accuracy: 0.6886
Epoch 20/20
193/193 [==============================] - 1s 8ms/step - loss: 0.6510 - accuracy: 0.7871 - val_loss: 1.0936 - val_accuracy: 0.6564
Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 128)               93696

 dense (Dense)               (None, 128)               16512

 dense_17 (Dense)            (None, 256)               33024

 dense_18 (Dense)            (None, 19)                4883

=================================================================
Total params: 148115 (578.57 KB)
Trainable params: 37907 (148.07 KB)
Non-trainable params: 110208 (430.50 KB)
_________________________________________________________________

전이 학습을 통해 RA 모델을 LA 모델로 새로 만들었다.

In [105]:
new_LAmodel_1.evaluate(X_train_seq_LA, y_train_seq_LA)

214/214 [==============================] - 1s 6ms/step - loss: 0.6449 - accuracy: 0.7941

[0.6448553800582886, 0.7940918207168579]

In [104]:
new_LAmodel_1.evaluate(X_test_seq_LA, y_test_seq_LA)

72/72 [==============================] - 1s 8ms/step - loss: 1.0688 - accuracy: 0.6791

[1.068846583366394, 0.6791045069694519]