## 8주차 중간고사

### Machine Learning

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

WARNING:tensorflow:From C:\Anaconda\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

### 1. Data Load

In [27]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'
columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
df = pd.read_csv(url, names=columns)
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [17]:
# 결측치 확인
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [18]:
# 결측치 제거
df = df.dropna()
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [34]:
#레이블을 숫자로 변환
from sklearn.preprocessing import StandardScaler, LabelEncoder

# LabelEncoder 객체 생성
label = LabelEncoder()

# 문자로 지정된 열의 데이터에 대해 LabelEncoder를 적용하여 변환
df['buying'] = label.fit_transform(df['buying'])
df['maint'] = label.fit_transform(df['maint'])
df['doors'] = label.fit_transform(df['doors'])
df['persons'] = label.fit_transform(df['persons'])
df['lug_boot'] = label.fit_transform(df['lug_boot'])
df['safety'] = label.fit_transform(df['safety'])
df['class'] = label.fit_transform(df['class'])

df

      buying  maint  doors  persons  lug_boot  safety  class
0          3      3      0        0         2       1      2
1          3      3      0        0         2       2      2
2          3      3      0        0         2       0      2
3          3      3      0        0         1       1      2
4          3      3      0        0         1       2      2
...      ...    ...    ...      ...       ...     ...    ...
1723       1      1      3        2         1       2      1
1724       1      1      3        2         1       0      3
1725       1      1      3        2         0       1      2
1726       1      1      3        2         0       2      1
1727       1      1      3        2         0       0      3

[1728 rows x 7 columns]

In [28]:
#레이블을 숫자로 변환
from sklearn.preprocessing import StandardScaler, LabelEncoder

# LabelEncoder 객체 생성
label = LabelEncoder()

# 문자로 지정된 열의 데이터에 대해 LabelEncoder를 적용하여 변환
df['class'] = label.fit_transform(df['class'])

df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low      2
1     vhigh  vhigh      2       2    small    med      2
2     vhigh  vhigh      2       2    small   high      2
3     vhigh  vhigh      2       2      med    low      2
4     vhigh  vhigh      2       2      med    med      2
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med      1
1724    low    low  5more    more      med   high      3
1725    low    low  5more    more      big    low      2
1726    low    low  5more    more      big    med      1
1727    low    low  5more    more      big   high      3

[1728 rows x 7 columns]

In [25]:
df['doors'].value_counts()

doors
0    432
1    432
2    432
3    432
Name: count, dtype: int64

In [13]:
df['class'].value_counts()

class
2    1210
0     384
1      69
3      65
Name: count, dtype: int64

### 2. Train Test Split

In [35]:
X=df.drop(['class'], axis=1)

X.head()
# head()는 첫 5행만 출력함.

   buying  maint  doors  persons  lug_boot  safety
0       3      3      0        0         2       1
1       3      3      0        0         2       2
2       3      3      0        0         2       0
3       3      3      0        0         1       1
4       3      3      0        0         1       2

In [36]:
y=df['class']
y.value_counts().sort_index(ascending=True)

class
0     384
1      69
2    1210
3      65
Name: count, dtype: int64

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=12)

X_train

      buying  maint  doors  persons  lug_boot  safety
784        0      1      1        0         2       2
71         3      3      2        1         0       0
138        3      0      1        0         1       1
1105       2      2      0        2         0       2
1554       1      2      1        1         0       1
...      ...    ...    ...      ...       ...     ...
1666       1      1      1        2         2       2
1265       2      1      2        2         1       0
1277       2      1      3        0         0       0
1414       1      0      0        1         2       2
1691       1      1      2        1         0       0

[1157 rows x 6 columns]

### 3. Machine Learning (SVC, LR, RF, DT)

In [45]:
# SVC 모델 학습
rg_svc = SVC() # Support Vector Classifier
rg_svc.fit(X_train, y_train) # X_train(학습데이터)과 y_train(레이블)으로 학습

print('--- SVC 모델점수 (R²) ---\n', '{:.5f}'.format(rg_svc.score(X_test, y_test)))

pred_svc = rg_svc.predict(X_test)

ac_score = accuracy_score(pred_svc, y_test)
cf_matrix = confusion_matrix(pred_svc, y_test)
print('\n--- accuracy score ---')
print('{:.5f}'.format(ac_score))
print('\n--- confusion matrix ---')
print(cf_matrix)
print("\n--- Classification Report ---")
print(classification_report(pred_svc, y_test))

--- SVC 모델점수 (R²) ---
 0.88266

--- accuracy score ---
0.88266

--- confusion matrix ---
[[ 90  23   3   1]
 [  0   1   0   0]
 [ 36   0 397   0]
 [  1   3   0  16]]

--- Classification Report ---
              precision    recall  f1-score   support

           0       0.71      0.77      0.74       117
           1       0.04      1.00      0.07         1
           2       0.99      0.92      0.95       433
           3       0.94      0.80      0.86        20

    accuracy                           0.88       571
   macro avg       0.67      0.87      0.66       571
weighted avg       0.93      0.88      0.90       571

In [47]:
cl_lr = LogisticRegression()
cl_lr.fit(X_train, y_train)

print('--- LogisticRegression 모델점수 ---\n', '{:.5f}'.format(cl_lr.score(X_test, y_test)))

pred_lr = cl_lr.predict(X_test)

ac_score = accuracy_score(pred_lr, y_test)
cf_matrix = confusion_matrix(pred_lr, y_test)
print('\n--- accuracy score ---')
print('{:.5f}'.format(ac_score))
print('\n--- confusion matrix ---')
print(cf_matrix)
print("\n--- Classification Report ---")
print(classification_report(pred_lr, y_test))

--- LogisticRegression 모델점수 ---
 0.70753

--- accuracy score ---
0.70753

--- confusion matrix ---
[[ 19   3  17   5]
 [  0   0   0   0]
 [100  24 381   8]
 [  8   0   2   4]]

--- Classification Report ---
              precision    recall  f1-score   support

           0       0.15      0.43      0.22        44
           1       0.00      0.00      0.00         0
           2       0.95      0.74      0.83       513
           3       0.24      0.29      0.26        14

    accuracy                           0.71       571
   macro avg       0.33      0.37      0.33       571
weighted avg       0.87      0.71      0.77       571

C:\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [48]:
cl_rf = RandomForestClassifier(random_state=5)
cl_rf.fit(X_train, y_train)

print('--- RandomForest 모델점수 ---\n', '{:.5f}'.format(cl_rf.score(X_test, y_test)))

pred_rf = cl_rf.predict(X_test)

ac_score = accuracy_score(pred_rf, y_test)
cf_matrix = confusion_matrix(pred_rf, y_test)
print('\n--- accuracy score ---')
print('{:.5f}'.format(ac_score))
print('\n--- confusion matrix ---')
print(cf_matrix)
print("\n--- Classification Report ---")
print(classification_report(pred_rf, y_test))

--- RandomForest 모델점수 ---
 0.95622

--- accuracy score ---
0.95622

--- confusion matrix ---
[[116   6   6   0]
 [  0  19   0   0]
 [ 10   0 394   0]
 [  1   2   0  17]]

--- Classification Report ---
              precision    recall  f1-score   support

           0       0.91      0.91      0.91       128
           1       0.70      1.00      0.83        19
           2       0.98      0.98      0.98       404
           3       1.00      0.85      0.92        20

    accuracy                           0.96       571
   macro avg       0.90      0.93      0.91       571
weighted avg       0.96      0.96      0.96       571

In [46]:
cl_dt = DecisionTreeClassifier(random_state=12)
cl_dt.fit(X_train, y_train)

print('--- DecisionTree 모델점수 ---\n', '{:.5f}'.format(cl_dt.score(X_test, y_test)))

pred_dt = cl_dt.predict(X_test)

ac_score = accuracy_score(pred_dt, y_test)
cf_matrix = confusion_matrix(pred_dt, y_test)
print('\n--- accuracy score ---')
print('{:.5f}'.format(ac_score))
print('\n--- confusion matrix ---')
print(cf_matrix)
print("\n--- Classification Report ---")
print(classification_report(pred_dt, y_test))

--- DecisionTree 모델점수 ---
 0.96147

--- accuracy score ---
0.96147

--- confusion matrix ---
[[115   5   5   0]
 [  1  22   0   0]
 [ 10   0 395   0]
 [  1   0   0  17]]

--- Classification Report ---
              precision    recall  f1-score   support

           0       0.91      0.92      0.91       125
           1       0.81      0.96      0.88        23
           2       0.99      0.98      0.98       405
           3       1.00      0.94      0.97        18

    accuracy                           0.96       571
   macro avg       0.93      0.95      0.94       571
weighted avg       0.96      0.96      0.96       571